<template name="registrantsList">
  {{#if isOwner}}
    <div class="row">
      <div class="col-sm-12">
        <h4>Admin panel</h4>
      </div>
      <div class="col-sm-4">  
        {{> eventListDropDown myEvents }}
      </div>
      <div class="col-sm-8">
        <button class="btn btn-danger btn-sm" id="importBtn">
          Import from this event
        </button>
        <a class="btn btn-warning btn-sm" href="{{pathFor 'registrantsListDownload' _id=eventId}}">
          Export
        </a>
      </div>
      <div class="col-sm-12">
        <hr/>
      </div>
    </div>
  {{/if}}
  <div class="row">
    <div class="pull-left col-sm-5">
      <input class="filter form-control" value="{{filter}}" placeholder="Search your name"/>
    </div>
    <div class="pull-left col-sm-3">
      <!-- Button trigger modal -->
      {{#if isModerator}}
        Not in the list?
        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#newRegistrantModal">
          <span class="glyphicon glyphicon-plus"></span>
            Add new
        </button>
      {{/if}}
    </div>
    <div class="pull-right" style="margin-right:20px">
      <b>Attended: {{totalAttendedRegistrantsCount}}/{{totalRegistrantsCount}}</b>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped table-compressed">
        <thead>
          <tr>
            {{#if isModerator}}
              <th>Attend?</th>
            {{/if}}
            <th>Name</th>
            {{#if isModerator}}
              <th>Phone</th>
              <th>Email</th>
              <th></th>
            {{/if}}
          </tr>
        </thead>
        <tbody>
          {{#each filteredRegistrants}}
            {{> registrant }}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="newRegistrantModal" tabindex="-1" role="dialog" aria-labelledby="newRegistrantModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="newRegistrantModalLabel">User information</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" id="newForm" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                   <input type="text" name="name" value="{{filter}}" placeholder="Name" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">
                    <input type="text" name="phone" value="" placeholder="Phone" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" value="" name="email" placeholder="Email" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editRegistrantModal" tabindex="-1" role="dialog" aria-labelledby="editRegistrantModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="editRegistrantModalLabel">User information</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" id="editForm" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="hidden" name="_id" value="{{editId}}"/>
                  <input type="text" name="name" value="{{editName}}" placeholder="Name" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">
                    <input type="text" name="phone" value="{{editPhone}}" placeholder="Phone" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" value="{{editEmail}}" name="email" placeholder="Email" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>